*.mp4
backend/.env
backend/youtube.sqlite3
*.part
backend/serviceAccountKey.json
mongodb/docker-compose.yaml
backend/*.jpg
alpine-cron/cronjobs
mongodb/data/*
alpine-cron/credentials.txt
alpine-cron/backup.sh
alpine-cron/docker-compose.yaml
docker-compose.yml
*.sqlite3
mongodb/restore.txt
*.ts
*.webm
ffmpeg/script.ps1
powershell/delete-b2-files.ps1
*.m3u8
aws/lambda/.aws-sam/*
aws/lambda-ec2/.aws-sam/*
standalone/config.json
digitalocean/docker.sh
standalone/docker.sh
celery/celerybeat-*
**/.aws-sam/
**/__pycache__/
.env
*.zip
aws/yt-dlp/terraform-cloud/layers/files/
aws/yt-dlp/terraform-cloud/layers/layers/
private-variables.tf
bulk-downloader/videos
bulk-downloader/channels.txt