*.mp4
backend/functions/__pycache__/*
backend/.env
backend/youtube.sqlite3
*.part
backend/blueprints/__pycache__/*
backend/classes/__pycache__/*
backend/functions/databaseCalls/__pycache__/*
backend/serviceAccountKey.json
backend/__pycache__/*
mongodb/docker-compose.yaml
backend/*.jpg
alpine-cron/cronjobs
mongodb/data/*
alpine-cron/credentials.txt
alpine-cron/backup.sh
alpine-cron/docker-compose.yaml
docker-compose.yml
*.sqlite3
mongodb/restore.txt
*.ts
*.webm
ffmpeg/script.ps1
powershell/delete-b2-files.ps1
*.m3u8
aws/lambda/.aws-sam/*
aws/lambda-ec2/.aws-sam/*
standalone/config.json
digitalocean/docker.sh
standalone/docker.sh
redis/__pycache__/*
redis/subscriber_docker/__pycache__/*
redis/lists/__pycache__/*