*.mp4
backend/functions/__pycache__/*
backend/.env
backend/youtube.sqlite3
*.part
backend/blueprints/__pycache__/*
backend/classes/__pycache__/*
backend/functions/databaseCalls/__pycache__/*
backend/serviceAccountKey.json
backend/__pycache__/*
mongodb/docker-compose.yaml
backend/*.jpg
alpine-cron/cronjobs
mongodb/data/*
alpine-cron/credentials.txt
alpine-cron/backup.sh
alpine-cron/docker-compose.yaml
docker-compose.yml
*.sqlite3
mongodb/restore.txt
*.ts
*.webm