b2sdk==1.14.0
ffmpeg==1.4
Flask==2.0.3
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
python-dotenv==0.20.0
python-ffmpeg==1.0.14
requests==2.27.1
yt-dlp==2022.08.19
flask-mongoengine==1.0.0
mongoengine==0.24.1
pymongo==4.1.1
redis==4.3.4