#!/bin/sh
mongodump --host=serverip --db=ytdlp --username=user --password=pass --authenticationDatabase=admin  --archive> /tmp/backups/$(date +%Y%m%d-%H%M%S-UTC).archive
b2 sync /tmp/backups b2://bucket
rm /tmp/backups/*