#!/bin/bash
B2_BUCKET=
B2_KEY_ID=
B2_KEY=

docker run --rm -v /tmp:/media:Z tnk4on/yt-dlp --format bestvideo*+bestaudio/best --merge-output-format mp4 --output '%(id)s/%(id)s.%(ext)s' $1
docker run --rm -v /tmp:/root -e B2_APPLICATION_KEY_ID=$B2_KEY_ID -e B2_APPLICATION_KEY=$B2_KEY sierra1011/backblaze-b2 sync /root/$2 b2://$B2_BUCKET/videos/$2